models/cur/ssd_mobilenet_v1_coco_2018_01_28/*
models/cur/ssd_mobilenet_v1_coco_2018_01_28*
__pycache__/*
.spyproject/config/backups/workspace.ini.bak
old/*
ui/old/*
*.pyc
ui/__pycache__/labelme__main__.cpython-37.pyc
ui/__pycache__/labelme_app.cpython-37.pyc
